<!DOCTYPE html>
 <html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Library App</title>
    <meta name="description" content=" " />
    <meta name="author" content=" " />
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <!-- Use maximum-scale and user-scalable at your own risk. It disables pinch/zoom. Think about usability/accessibility before including.-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <base href="/">

    <!-- startinjector:less -->
    <!-- endinjector -->
    <!-- startinjector:css -->
    <link rel="stylesheet" href="/client/styles/app.css">
    <!-- endinjector -->
  </head>
  <body ng-app="library-app" class="ng-cloak">
    <app></app>

    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
      <script src="/bower_components/angular/angular.js"></script>
      <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="/bower_components/angular-resource/angular-resource.js"></script>
      <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="/bower_components/angular-animate/angular-animate.js"></script>
      <script src="/bower_components/angular-aria/angular-aria.js"></script>
      <script src="/bower_components/angular-messages/angular-messages.js"></script>
      <script src="/bower_components/ngstorage/ngStorage.js"></script>
      <script src="/bower_components/lodash/lodash.js"></script>
      <script src="/bower_components/socket.io-client/dist/socket.io.js"></script>
      <script src="/bower_components/moment/moment.js"></script>
      <script src="/bower_components/angular-moment/angular-moment.js"></script>
      <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,client}) client/app.js -->
      <!-- injector:js -->
      <script src="/client/bundle.js"></script>
      <!-- endinjector -->
    <!-- endbuild -->

 	</body>
 </html>
